body {
    font-family: Nunito;
    height: 100%;
    width: 100%;
    background:#fefefe;
    overflow: hidden;
    padding:0;
    margin: 0;
}

#KarteMitPunkt {
      height: 480px;
    }

    .info {
      padding: 6px 8px;
      font: 14px/16px Arial, Helvetica, sans-serif;
      background: white;
      background: rgba(255, 255, 255, 0.8);
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
    }

    .info h4 {
      margin: 0 0 5px;
      color: #777;
    }

    .mapOverlayContainer {
      position: relative;
    }

    .mapOverlay {
      overflow: hidden;
      background-color: #ffffff;
      border-radius: 1em;
      padding: 1em;
      margin: 1em;

      position: absolute;
      z-index: 1000;
      right: 0;
    }